.loader{
  position: absolute;
    background: white;
    z-index: 800;
    width: 100%;
    height: 100vh;
}

.logocarte{
  width: 7rem;
display: block;
position: absolute;
top: 10px;
z-index: 800;
left: -32%;
right: 50%;
}

@media screen and (max-width: 500px) {
.logoCarte{
  width: 9rem;
    display: block;
    position: absolute;
    top: 10px;
    z-index: 800;
    left: -20%;
    right: 50%;
}

}
