@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

.logo{
  display: inline-block;
    width: 6rem;
    margin-left: 10px;
}

.igapo{
  width: 3.7rem;
  display: inline-block;
    margin-left: 10px;
}

.text{
  font-family: 'Exo', sans-serif;
  color: #4d72d1;
    font-size: 12px;
}


.container{
  position: relative;
}
