@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

.logo{
  display: inline-block;
    width: 6rem;
    margin-left: 25px;
        margin: 20px;
}

.text{
  font-family: 'Exo', sans-serif;
  color: #4d72d1;
    font-size: 22px;
    text-align: center;
}


.container{
  position: relative;
  animation-name: opacity;
  animation-duration: 3s;
  animation-fill-mode: forwards;

}

@keyframes opacity {
0% {
    opacity:1;
      margin-top: 30%;
  }

  90%{
    opacity:1;
      height: 100%;
        margin-top: 30%;
  }
  100%
  {
      margin-top: 0%;
   height: 0px;
    opacity:0;
  }
}
