@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

.logo{
  display: inline-block;
    width: 3rem;
    margin-left: 10px;
}

.text{
      display: inline-block;
  font-family: 'Exo', sans-serif;
  color: #4d72d1;
    font-size: 12px;
}


.container{
  position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
