.logo{
    width: 3.6rem;
    position: relative;
    float: right;
    margin: 15px;
        margin-left: 0px;
        margin-right: 25px;
        z-index: 800;
    padding: 6px;
        box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.05), 0 0 10px 10px rgba(255, 255, 255, 0.005), 2px 2px 8px rgba(60, 60, 60, 0.1);
}

.logo:hover{
  width:3.9rem;
}

.link{
  width: 3.6rem;
  position: relative;
  float: right;
      margin-left: 0px;
      margin-right: 25px;
      z-index: 800;
  padding: 3px;
}

.logoMobile{
  width: 3.6rem;
  position: relative;
  float: right;
  margin: 0px;
      z-index: 800;
  padding: 3px;
  margin-left: 8%;
    margin-right: 5px;
    box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.05), 0 0 10px 10px rgba(255, 255, 255, 0.005), 2px 2px 8px rgba(60, 60, 60, 0.1);
}

.containerlogoMobile{
  position: absolute;
background: white;
z-index: 900;
height: 16%;
}

@media only screen and (max-width : 920px)
{
  .containerlogoMobile{
  width: 100%;
  }
}

@media only screen and (min-width : 2000px)
{
  .logo{
    width: 5.6rem;
}
}
